<div ng-controller="indHomeCtrl">
    <ul class="table-view" ng-repeat="workout in workouts">
        <li class="table-view-cell {{ workout.class }}">
            <a class="navigate-right">
                <span ng-hide="workout.hideWeightAndActions" class="badge">{{ workout.weight }} kg</span>
                <button ng-hide="workout.hideWeightAndActions" class="icon icon-up" ng-click="increaseWeight($index)"></button>
                <button ng-hide="workout.hideWeightAndActions" class="icon icon-down" ng-click="decreaseWeight($index)"></button>
                {{ workout.title | translate }}
            </a>
        </li>
    </ul>
</div>